{% extends "marketing/base.html" %}

{% block content %}
{% include "marketing/partials/hero.html" %}
{% include "marketing/partials/trust_bar.html" %}
{% include "marketing/partials/features.html" %}
{% include "marketing/partials/how_it_works.html" %}
{% include "marketing/partials/showcase.html" %}
{% include "marketing/partials/testimonials.html" %}
{% include "marketing/partials/pricing.html" %}
{% include "marketing/partials/faq.html" %}
{% include "marketing/partials/cta_banner.html" %}
{% endblock %}
