{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/output.css' %}" />

<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4" defer></script>
<script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
